* {
    /* border: 1px solid black; */
    text-align: center;
    color: aliceblue;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Fuzzy Bubbles', cursive;
}

html {
    padding: 0px;
}

body {
    background-color: rgb(37, 43, 66);
}

#title {
    background-color: rgb(32, 37, 56);
    margin: 0px;
    padding: 18px;
    font-size: 20px;
}

#mainGame {
    width: 450px;
    margin: auto;
}

#tabs {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 30px;
}

#playerTab, #computerTab {
    display: flex;
    flex-direction: column;
}

#symbols {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

#roundChoicesDisplay,
#roundWinnerDisplay,
#playAgainDisplay {
    height: 40px;
}

#roundChoicesDisplay {
    font-size: 15px;
}

#roundWinnerDisplay {
    font-size: 25px;
}

.score {
    font-size: 40px;
}

.name {
    font-size: 30px;
}

.symbolContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(32, 37, 56);
    border-radius: 15%;
    margin-top: 30px;
}

.symbol {
    height: 80px;
    width: 80px;
    font-size: 50px;
    padding-top: 10px;
}

.tab {
    width: 200px;
}

.name, .score {
    height: 30px;
    font-size: 30px;
}

.score {
    margin-top: 10px;
}

.choice {
    padding-top: 20px;
    height: 120px;
    width: 140px;
    font-size: 80px;
    background-color: rgb(32, 37, 56);
    border-radius: 15%;
    margin: auto;
    margin-top: 20px;
}

.focus {
    box-shadow: 0px 0px 12px rgb(255, 217, 0);
}

button {
    height: 70px;
    width: 200px;
    background-color: rgb(32, 37, 56);
    color: rgb(255, 217, 0);
    border-radius: 20px;
    font-size: 20px;
    margin-top: 12px;
}